$background-color-default: #509999;
$background-calculator-default: #202c4b;
$background-button-default: #e7b9b9;
$background-display-default: #3c5080;
$foreground-button-default: black;
$foreground-display-default: white;
